*

!.config/
!.config/karabiner/
!.config/karabiner/**/*
!.config/nvim/
!.config/nvim/**/*
!.config/fish
!.config/fish/**/*
!.config/iterm/
!.config/iterm/**/*
!.config/lazygit/
!.config/lazygit/**/*
.config/lazygit/state.yml



!.Brewfile
!.zshrc
!.tmux.conf
!.vimrc
!iterm2.Profiles.json
!.bash_profile
!.bashrc
!.gitconfig
!.gitignore
!.gitignore.global

!Atom_One_Dark__Material__copy.icls
!One_Dark_Vivid_copy.icls

**/.DS_Store
