[user]
	email = chojs990222@gmail.com
	name = neo
[init]
	defaultBranch = main
[core]
	autocrlf = input
  editor=nvim
  excludesfile = ~/.gitignore.global
[merge]
  tool = nvimdiff
	conflictstyle = diff3
[interactive]
	diffFilter = delta --color-only
[pull]
	rebase = true
[ui "color"]
	ui = always
[color]
	ui = true
[github]
	user = chojs23
[credential]
	helper = osxkeychain
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
