"" Source your .vimrc
"source ~/.vimrc

""""""""""""""""""""""""""""""""""""""Configuration""""""""""""""""""""""""""""""""""""""
let mapleader =' '
set showmode
set showmatch
set hlsearch
set incsearch
set ignorecase
set smartcase
set commentary
set visualbell
set noerrorbells
set easymotion
set history=3000000
:set vb
:set keep-english-in-normal
set autowrite " Enable auto write
set clipboard=unnamedplus " Sync with system clipboard
set completeopt=menu,menuone,noselect
set conceallevel=3 " Hide * markup for bold and italic
set confirm " Confirm to save changes before exiting modified buffer
set cursorline " Enable highlighting of the current line
set expandtab " Use spaces instead of tabs
set formatoptions=jcroqlnt " tcqj
set grepformat=%f:%l:%c:%m
set grepprg=rg\ --vimgrep
set ignorecase " Ignore case
set inccommand=nosplit " preview incremental substitute
set laststatus=3 " global statusline
set list " Show some invisible characters (tabs...
set mouse=a " Enable mouse mode
set number " Print line number
set pumblend=10 " Popup blend
set pumheight=10 " Maximum number of entries in a popup
set relativenumber " Relative line numbers
set scrolloff=5 " Lines of context
set sessionoptions=buffers,curdir,tabpages,winsize,help,globals,skiprtp,folds
set shiftround " Round indent
set shiftwidth=2 " Size of an indent
set shortmess+=W " Append to shortmess
set shortmess+=I
set shortmess+=c
set shortmess+=C
set showmode=0 " Don't show mode since we have a statusline
set sidescrolloff=8 " Columns of context
set signcolumn=yes " Always show the signcolumn, otherwise it would shift the text each time
set smartcase " Don't ignore case with capitals
set smartindent " Insert indents automatically
set spelllang=en
set splitbelow " Put new windows below current
set splitkeep=screen
set splitright " Put new windows right of current
set tabstop=2 " Number of spaces tabs count for
set termguicolors " True color support
set timeoutlen=300
set undofile
set undolevels=10000
set updatetime=200 " Save swap file and trigger CursorHold
set virtualedit=block " Allow cursor to move where there is no text in visual block mode
set wildmode=longest:full,full " Command-line completion mode
set winminwidth=5 " Minimum window width
set wrap " Disable line wrap
set guicursor=n-v-c-i:block

" ================================================================================================
" = Basic settings ===============================================================================
" ================================================================================================
"r========="
"==plugins="
"=========="
set NERDTree
set surround
set multiple-cursors
set commentary
set easymotion


""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

set which-key

" disable the timeout option
set notimeout

" increase the timeoutlen (default: 1000), don't add space around the equal sign
set timeoutlen=5000

nnoremap <leader>rr :source ~/.ideavimrc<CR>
nnoremap <esc><esc> :noh<return>
" easy system clipboard copy/paste
noremap y "*y
noremap Y "*Y
noremap p "*p
noremap P "*P

nnoremap S :w!<CR>
nnoremap Q :q!<CR>

nmap ;l :nohl<cr>

nnoremap H ^
nnoremap L $
vnoremap H ^
vnoremap L $

""" Window management & navigation
nmap <leader>ws <Action>(SplitVertically)
nmap <C-h> <C-w><C-h>
nmap <C-l> <C-w><C-l>



map <leader>fr <action>(RecentFiles)
map <A-z> <action>(ToggleZenMode)

"File Path
nnoremap <leader>p :action ShowFilePath<CR>

map <leader>n <action>(RenameElement)

" easymotion
nmap s <Plug>(easymotion-f)
nmap sb  <Plug>(easymotion-F)

nmap <leader>ff <action>(GotoFile)
nmap <leader>ft <action>(FindInPath)
nmap <leader>fc <action>(GotoAction)
nmap <leader>fm <action>(ReformatCode) \| <action>(OptimizeImports)
nmap <leader>fb <action>(ShowBookmarks)
nmap <leader>wo <action>(Un splitAll) \| <action>(HideAllWindows)

"" File browser
nnoremap <leader>e :NERDTreeToggle<CR>

" Terminal
nnoremap <C-/> :action ActivateTerminalToolWindow<cr>

"Git
nnoremap <leader>gg :action ActivateCommitToolWindow<CR>

"Error
nmap <leader>cd <Action>(ShowErrorDescription)

" Multiple cursors
map <Cn> <Plug>NextWholeOccurrence

""LSP
nnoremap gd :action GotoDeclaration<CR>
nnoremap gr :action FindUsages<CR>
nnoremap gI :action GotoImplementation<CR>
nnoremap <leader>ls :action FileStructurePopup<CR>
nnoremap <leader>lf :action ReformatCode<CR>
vnoremap <leader>lf :action ReformatCode<CR>
nnoremap <leader>cr :action RenameElement<CR>
nnoremap <leader>la :action ShowInteationActions<CR>
" = No Leader Keymaps
nmap ]e <action>(GotoNextError)
nmap [e <action>(GotoPreviousError)

"" Comment
nnoremap gcc :action CommentByLineComment<CR>
vnoremap gc :action CommentByLineComment<CR>

"" Search
nnoremap <leader>ps :action FindInPath<CR>
nnoremap <leader>sf :action SearchEverywhere<CR>

"" Folding
nnoremap za :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>

"" Navigation
sethandler <C-j> a:vim
sethandler <C-k> a:vim
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
"nnoremap <Tab> :action NextTab<CR>
"nnoremap <S-Tab> :action PreviousTab<CR>

" NERDTree
let g:NERDTreeMapJumpParent="h"
let g:NERDTreeMapJumpRoot="H"
let g:NERDTreeMapActivateNode="l"
let g:NERDTreeMapPreview="L"
